[
 {wschat, [
	   {server_port, 443},
	   {server_ca_cert, "lib/wschat-2/priv/certs/ca_cert.pem"},
	   {server_cert, "lib/wschat-2/priv/certs/cert.pem"},
	   {server_priv_key, "lib/wschat-2/priv/certs/key.pem"},
	   {server_priv_key_pass, "1234"},
	   {ios_profile, development},
	   {ios_push_cert, "lib/wschat-2/priv/apple_key.pem"},
	   {ios_cert_pass, "admin"},
	   {nexmo_push_secret, "api_key=3fbedb24&api_secret=88656150"},
	   {clustering, undefined},
	   {aws_key, "AKIAJR6MCGYKK2SPS7QA"},
	   {aws_secret, "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"}
          ]},
 {cqerl, [
		{cassandra_nodes, [{ "127.0.0.1", 9042 }]},
	 	{cqerl_auth, { cqerl_auth_plain_handler, [] }},
		{keyspace, "ttl"}
	 ]}
].
